amqp==5.3.1
asgiref==3.9.2
astroid==3.3.11
billiard==4.2.2
black==25.9.0
celery==5.5.3
cfgv==3.4.0
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
debugpy==1.8.17
dill==0.4.0
distlib==0.4.0
Django==6.0a1
django-celery==3.1.17
django-cors-headers==4.9.0
django-debug-toolbar==6.0.0
django-filter==25.1
djangorestframework==3.16.1
filelock==3.19.1
flake8==7.3.0
identify==2.6.14
isort==6.0.1
kombu==5.5.4
Markdown==3.9
mccabe==0.7.0
mypy==1.18.2
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.4.0
pre_commit==4.3.0
prompt_toolkit==3.0.52
psycopg==3.2.10
psycopg-binary==3.2.10
psycopg2==2.9.10
pycodestyle==2.14.0
pyflakes==3.4.0
pylint==3.3.8
python-dateutil==2.9.0.post0
pytokens==0.1.10
PyYAML==6.0.3
redis==6.4.0
six==1.17.0
sqlparse==0.5.3
tomlkit==0.13.3
typing_extensions==4.15.0
tzdata==2025.2
vine==5.1.0
virtualenv==20.34.0
wcwidth==0.2.14
